<header>{{!--header or div in nested handlebars?--}}
    <h1>Welcome {{users.user.first_name}}</h1>
</header>
    <section class="feed">
    {{#each recipes as |recipe|}}
        <div class="post-card" id="{{recipe.name}}">
            <h2>{{recipe.name}}</h2>
            <p>{{recipe.description}}</p>
            <p class="author">By: {{recipe.user.first_name}} {{recipe.user.last_name}}</p>
        </div>
    {{/each}}
    </section>

<script src="/js/home.js"></script>