<main class="mg-cus-nav">
    <h1 class="welcome text-center">Welcome, {{firstName}}!</h1>

    <section class="feed">
        {{#each recipes as |recipe|}}
            <div class="post-card green-box m-5" id="{{recipe.id}}">
                <h2>{{recipe.name}}</h2>
                <p class="description">{{recipe.description}}</p>
                <p class="author"><a href="../profile/{{recipe.user.id}}">{{recipe.user.first_name}} {{recipe.user.last_name}}</a> </p>
            </div>
        {{/each}}
    </section>
</main>

<div class="modal" id="ingredient-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search By Ingredient</h5>
      </div>
      <div class="modal-body">
        <select name="ingredient-select" id="ingredient-select">
            {{#each ingredients as |ingredient|}}
                <option value="{{ingredient.id}}">{{ingredient.name}}</option>
            {{/each}}
        <div id="modal-btns">
            <a class="btn" href="*something else*">Search</a>
            <a class="btn" href="/home">View All Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>