
<header><!--header or div in nested handlebars?-->
    {{!-- <h1>Welcome {{user}}</h1> <!--'user' greeting? could also be done in main.handlebars with an accompanying 'hide' class for other pages in a jas file? im undecided--> --}}
</header>

    <section class="feed"> <!--section or div?-->
    {{#each recipes as |recipe|}}
        <div class="post-card"> <!--recipe feed cards-->
            <h2>{{recipe.name}}</h2>
            <p>{{recipe.description}}</p>
            <p class="author">By: {{recipe.user.first_name}} {{recipe.user.last_name}}</p> <!--'author' is naming convention to differentiate between current user and author of recipe-->
        </div>
    {{/each}}
    </section>

{{!-- <script src="home.js"></script> --}}
