<main>
    <h1 class="title text-center">{{recipe.name}}</h1>

    <section class="feed">
        <div class="post-card green-box m-5 pe-auto" id="{{recipe.id}}">
            <h2>{{recipe.name}}</h2>
            <p class="author"><a href="../profile/{{recipe.user.id}}">{{recipe.user.first_name}} {{recipe.user.last_name}}</a> </p>            
            <p class="description">{{recipe.description}}</p>
            <div id="ingredients">
                <h4>Ingredients</h4>
                <ul>
                    {{#each recipe.ingredients as |ingredient|}}
                        <li>{{ingredient.name}} {{ingredient.recipe_ingredient.amount}} {{ingredient.recipe_ingredient.measurement_unit}}</li>
                    {{/each}}
                </ul>
            </div>
            <p class="instructions"> {{recipe.instructions}}</p>
        </div>
    </section>
</main>

<script src="/js/viewRecipe.js"></script>
